//*****************
//VARIABLES
//*****************
$color-principal: #17406D;
$color-secundario: #A78718;
$color-toolbar: #292b2c;
html {
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
//*****************
//CABECERA
//*****************
#menu {
    transition: all 1s ease;
}
.cabecera-scroll {
    padding-top: .8rem;
    padding-bottom: .8rem;
    opacity: .95;
}
.cabecera .navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .open > .nav-link {
    color: $color-secundario;
    border-bottom: 4px solid;
}
.cabecera .fixed-top {
    display: block;
}
.cabecera .nav-item {
    margin-left: .2rem;
    margin-right: .2rem;
}
.cabecera .navbar-toggler:focus {
    outline: none;
}
@media screen and (max-width: 576px) {
    .cabecera .container {
        width: 100%;
    }
    .cabecera .navbar-inverse .navbar-nav .active > .nav-link,
    .navbar-inverse .navbar-nav .nav-link.active,
    .navbar-inverse .navbar-nav .nav-link.open,
    .navbar-inverse .navbar-nav .open > .nav-link {
        border-bottom: 0px solid;
    }
}
//************************
//BIENVENIDOS
//************************
.bienvenidos {
    background: url('../images/fondo-bienvenidos.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.bienvenidos #btn-contactenos,
.bienvenidos #btn-contactenos:focus {
    color: #fff;
    background-color: $color-secundario;
    border-color: $color-secundario;
    margin-top: 2rem;
}
.bienvenidos .texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.bienvenidos .flecha-bajar {
    padding-bottom: 1rem;
}
.bienvenidos .flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 3rem;
    animation: flecha-animada 2s ease-in-out infinite;
}
@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}
//********************
//ADAPTABILIDAD
//********************
.adaptabilidad {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background-color: $color-secundario;
    color: #fff;
}
.adaptabilidad p {
    padding-top: 1rem;
}
.adaptabilidad img {
    max-width: 20rem;
}
@media screen and (max-width: 576px) {
    .adaptabilidad img {
        width: 100%;
    }
}
//********************
//NUESTROS SERVICIOS
//********************
.nuestros-servicios {
    padding-top: 3.4rem;
    padding-bottom: 4rem;
    background: url('../images/fondo-nuestros-servicios.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
}
.nuestros-servicios h1 {
    padding-bottom: 2rem;
}
.nuestros-servicios article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    max-height: 5rem;
}
.nuestros-servicios article img {
    flex: 0 0 65px;
    overflow: hidden;
    margin-right: .5rem;
    transition: all 1s ease;
    max-width: 65px;
}
.nuestros-servicios article:hover img {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
.nuestros-servicios article a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.nuestros-servicios .contenido-servicio,
.nuestros-servicios article p,
.nuestros-servicios article a {
    //display: block;
    width: 100%;
}
.nuestros-servicios article a:hover {
    color: $color-secundario;
}
.nuestros-servicios article a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2rem;
    opacity: .8;
    position: relative;
    left: 0;
    transition: all .5s ease;
}
.nuestros-servicios article a:hover::after {
    left: -.5rem;
    opacity: 1;
}
.contenido-servicio p {
    font-size: .8rem;
}
.nuestros-servicios .contenido-servicio {
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    .nuestros-servicios article {
        max-height: 12rem;
    }
    .nuestros-servicios article a {
        display: inline;
    }
    .nuestros-servicios .article-1 img,
    .nuestros-servicios .article-2 img,
    .nuestros-servicios .article-3 img {
        order: 1;
    }
    .nuestros-servicios .contenido-servicio {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    .nuestros-servicios article a::after {
        content: "";
    }
    .article-1 {
        order: 1;
    }
    .article-2 {
        order: 3;
    }
    .article-3 {
        order: 5;
    }
    .article-4 {
        order: 2;
    }
    .article-5 {
        order: 4;
    }
    .article-6 {
        order: 6;
    }
}
//********************
//NUESTRAS SOLUCIONES
//********************
.soluciones {
    padding-top: 3.4rem;
    padding-bottom: 2rem;
}
.soluciones .owl-carousel a {
    text-decoration: none;
}
.soluciones .owl-carousel h4 {
    font-size: 1rem;
    padding-top: 2rem;
    color: #292b2c;
}
.soluciones .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.soluciones .owl-nav .owl-prev {
    padding-right: .5rem;
}
.soluciones .owl-nav .owl-next {
    padding-left: .5rem;
}
//********************
//PIE DE PAGINA
//********************
.pie-de-pagina {
    background-color: #292b2c;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: 2rem;
}
.pie-de-pagina p {
    margin-bottom: .1rem;
    font-size: .8rem;
}
.pie-de-pagina .sociales {
    padding-top: 2rem;
    //padding-bottom: 2rem;
    font-size: 2rem;
}
.pie-de-pagina .sociales a {
    color: #fff;
}
//************************
//IR ARRIBA
//************************
.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    color: $color-principal;
    line-height: 0;
    z-index: 99999;
    display: none;
    transition: all 1s ease;
}
//------------------------
//------------------------
//************************
//PAGINAS INTERNAS
//************************
//------------------------
//------------------------
//************************
//TITULO
//************************
.titulo-interno {
    background: url('../images/fondo-nosotros.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
    height: 50vh;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
}
.titulo-interno #btn-contactenos,
.titulo-interno #btn-contactenos:focus {
    color: #fff;
    background-color: $color-secundario;
    border-color: transparent;
    box-shadow: 0 0;
    margin-top: 2rem;
}
.titulo-interno .texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.titulo-interno .texto-encabezado h1 {
    margin-top: 2rem;
}
//************************
//RUTA INTERNA
//************************
.ruta-interno .breadcrumb {
    background-color: $color-secundario;
    border-radius: 0;
}
.ruta-interno .breadcrumb .breadcrumb-item,
.ruta-interno .breadcrumb .breadcrumb-item::before,
.ruta-interno .breadcrumb .breadcrumb-item a {
    color: #fff;
}
//************************
//CONTENIDO INTERNO
//************************
.contenido-interno h1 {
    padding-bottom: 1rem;
}
.contenido-interno p {
    margin-bottom: .5rem;
}
.contenido-interno form {
    padding-bottom: 2rem;
}
.contenido-interno .telefono::before {
    content: "\f095";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .whatsapp::before {
    content: "\f232";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .facebook::before {
    content: "\f230";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .email::before {
    content: "\f0e0";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .direccion::before {
    content: "\f2bb";
    font-family: FontAwesome;
    padding-right: .5rem;
}
@media (max-width: 768px) {
    .contacto .contenido-interno .card {
        margin-top: 2rem;
    }
}
//************************
//ACORDEON INTERNO
//************************
.acordeon-interno {
    padding-top: .5rem;
    padding-bottom: 3rem;
}
.acordeon-interno .card-header {
    background-color: $color-secundario;
    color: #fff;
}
.acordeon-interno h5 a {
    text-decoration: none;
    color: #fff;
}
.acordeon-interno .card {
    margin-bottom: .3rem;
}
#bloque-acordeon {
    display: flex;
    align-items: center;
}
#accordion {
    flex: 1 1 auto;
}
//*******************
//SERVICIOS
//*******************
.servicios .titulo-interno {
    background: url('../images/fondo-servicios.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
    height: 50vh;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
}
.servicios .contenido-interno a {
    text-decoration: none;
    color: #292b2c;
}
.servicios .contenido-interno .titulo {
    color: #292b2c;
    font-size: 2rem;
}
.servicios .contenido-interno .titulo::before {
    padding-right: 1rem;
}
.servicios .contenido-interno .titulo-0::before {
    content: "\f0ac";
    font-family: FontAwesome;
}
.servicios .contenido-interno .titulo-1::before {
    content: "\f1cd";
    font-family: FontAwesome;
}
.servicios .contenido-interno .titulo-2::before {
    content: "\f085";
    font-family: FontAwesome;
}
.servicios .contenido-interno .titulo-3::before {
    content: "\f108";
    font-family: FontAwesome;
}
.servicios .contenido-interno .titulo-4::before {
    content: "\f007";
    font-family: FontAwesome;
}
.servicios .contenido-interno .titulo-5::before {
    content: "\f10b";
    font-family: FontAwesome;
}
.servicios .contenido-interno .row {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}
.servicios .interesado {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.servicios .interesado a {
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .servicios .contenido-interno img {
        margin-top: 2rem;
    }
}
//************
//CONTACTO
//***********
.contacto .titulo-interno {
    background: url('../images/fondo-contactenos.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
    height: 50vh;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
}
.contacto .formulario-envio button,
.contacto .formulario-envio button:hover,
.contacto .formulario-envio button:active {
    color: #fff;
    background-color: $color-secundario;
    border-color: $color-secundario;
}
.contacto .formulario-envio button::before {
    content: "\f1d8";
    font-family: FontAwesome;
    padding-right: .5rem;
}
//************
//FORMULARIO
//***********
.formulario {
    min-height: 80vh;
}
.formulario .titulo-interno {
    background: none;
    background-color: #fff;
    color: $color-toolbar;
    background-size: cover;
    background-attachment: fixed!important;
    height: 8vh;
    margin-top: 30px;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
}
.formulario .btn,
.formulario .btn:hover,
.formulario .btn:active {
    color: $color-secundario;
    background-color: #fff;
    border-color: $color-secundario;
}
.formulario .btn-group .btn,
.formulario .btn-group .btn:hover,
.formulario .btn-group .btn:active {
    color: $color-secundario;
    background-color: #fff;
    border-color: $color-secundario;
}
.formulario .btn-agregar::before {
    content: "\f055";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario .btn-modificar::before {
    content: "\f044";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario .btn-grabar::before {
    content: "\f0c7";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario .btn-eliminar::before {
    content: "\f1f8";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario .btn-regresar::before {
    content: "\f04a";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario .btn-enviar::before {
    content: "\f1d8";
    font-family: FontAwesome;
    padding-right: .5rem;
}
//************
//LOGIN
//***********
.login {
    margin-top: 70px;
    margin-bottom: 50px;
}
.login .titulo-interno {
    background: none;
    background-color: #fff;
    color: $color-toolbar;
    background-size: cover;
    background-attachment: fixed!important;
    height: 8vh;
    margin-bottom: 20px;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
}
.login .btn,
.login .btn:hover,
.login .btn:active {
    margin-top: 20px;
    color: #fff;
    background-color: $color-secundario;
    border-color: $color-secundario;
}
.login .btn-login::before {
    content: "\f007";
    font-family: FontAwesome;
    padding-right: .5rem;
}
//************
//FORMULARIO INTERNO
//************
.formulario-interno {
    min-height: 80vh;
}
.formulario-interno .row {
    margin-top: 80px;
}
.formulario-interno .row nav {
    margin-bottom: 50px;
}
.formulario-interno .row a {
    color: $color-toolbar;
    text-decoration: none;
}
.formulario-interno .row a.active {
    color: $color-secundario;
    text-decoration: none;
}
.formulario-interno .titulo-interno {
    background: none;
    background-color: #fff;
    color: $color-toolbar;
    background-size: cover;
    background-attachment: fixed!important;
    height: auto;
    min-height: 0;
}
.titulo-interno .texto-encabezado h1 {
    margin-top: 0;
}
.formulario-interno .btn,
.formulario-interno .btn:hover,
.formulario-interno .btn:active {
    color: $color-secundario;
    background-color: #fff;
    border-color: $color-secundario;
}
.formulario-interno .btn-group .btn,
.formulario-interno .btn-group .btn:hover,
.formulario-interno .btn-group .btn:active {
    color: $color-secundario;
    background-color: #fff;
    border-color: $color-secundario;
}
.formulario-interno .btn-agregar::before {
    content: "\f055";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario-interno .btn-modificar::before {
    content: "\f044";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario-interno .btn-grabar::before {
    content: "\f0c7";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario-interno .btn-eliminar::before {
    content: "\f1f8";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario-interno .btn-regresar::before {
    content: "\f04a";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.formulario-interno .btn-enviar::before {
    content: "\f1d8";
    font-family: FontAwesome;
    padding-right: .5rem;
}
//************
//WEB DESIGN
//***********
.web-design {
    margin-top: 40px;
}
.web-design .owl-carousel {
    position: relative;
}
.web-design .encabezado .owl-carousel .contenido {
    text-decoration: none;
    position: relative
}
.web-design .encabezado .owl-carousel h3 {
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    position: absolute;
    background-color: $color-toolbar;
    top: 30%;
    left: 60px;
    opacity: .8;
}
.web-design .encabezado .owl-carousel h4 {
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
    position: absolute;
    background-color: $color-toolbar;
    top: 60%;
    left: 60px;
    opacity: .8;
}
.web-design .encabezado .owl-item {
    min-height: 300px;
}
.web-design .encabezado .owl-item img {
    min-height: 300px;
}
.web-design .encabezado .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.web-design .encabezado .owl-nav .owl-prev {
    padding-right: .5rem;
}
.web-design .encabezado .owl-nav .owl-next {
    padding-left: .5rem;
}
.web-design .caracteristicas {
    padding-top: 3.4rem;
    padding-bottom: 4rem;
    background: none;
    color: $color-toolbar;
    background-size: cover;
    background-attachment: fixed!important;
}
.web-design .caracteristicas h1 {
    padding-bottom: 2rem;
}
.web-design .caracteristicas article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    max-height: 5rem;
}
.web-design .caracteristicas article img {
    flex: 0 0 65px;
    overflow: hidden;
    margin-right: .5rem;
    transition: all 1s ease;
    max-width: 65px;
}
.web-design .caracteristicas article:hover img {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
.web-design .caracteristicas .contenido-servicio,
.web-design .caracteristicas article p {
    //display: block;
    width: 100%;
}
.web-design .caracteristicas .contenido-servicio p {
    padding-left: .5rem;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    font-size: 1rem;
}
.web-design .caracteristicas .contenido-servicio {
    flex: 1 1 auto;
}
@media (max-width: 768px) {
    .web-design .encabezado .owl-carousel h3 {
        font-size: 1.5rem;
        padding: 1.5rem;
        top: 28%;
        left: 10px;
    }
    .web-design .encabezado .owl-carousel h4 {
        font-size: 1rem;
        padding: 1rem;
        top: 60%;
        left: 10px;
    }
}
@media (min-width: 768px) {
    .web-design .caracteristicas article {
        max-height: 12rem;
    }
    .web-design .caracteristicas .contenido-servicio {
        display: flex;
        flex-direction: column;
    }
    .web-design .caracteristicas .article-1 {
        order: 1;
    }
    .web-design .caracteristicas .article-2 {
        order: 3;
    }
    .web-design .caracteristicas .article-3 {
        order: 5;
    }
    .web-design .caracteristicas .article-4 {
        order: 7;
    }
    .web-design .caracteristicas .article-5 {
        order: 9;
    }
    .web-design .caracteristicas .article-6 {
        order: 11;
    }
    .web-design .caracteristicas .article-7 {
        order: 13;
    }
    .web-design .caracteristicas .article-8 {
        order: 2;
    }
    .web-design .caracteristicas .article-9 {
        order: 4;
    }
    .web-design .caracteristicas .article-10 {
        order: 6;
    }
    .web-design .caracteristicas .article-11 {
        order: 8;
    }
    .web-design .caracteristicas .article-12 {
        order: 10;
    }
    .web-design .caracteristicas .article-13 {
        order: 12;
    }
    .web-design .caracteristicas .article-14 {
        order: 14;
    }
}
.web-design .interesado {
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.web-design .interesado a {
    margin-top: 1rem;
}
//*****************
//WEB DESIGN PLANS
//*****************
.webdesign-plans .titulo-interno {
    background: url('../images/fondo-planes.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed!important;
    height: 60vh;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.webdesign-plans .contenido-interno .titulo {
    font-size: 2rem;
}
.webdesign-plans .contenido-interno .titulo::before {
    padding-right: 1rem;
}
.webdesign-plans .contenido-interno .card-group {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.webdesign-plans .contenido-interno td {
    text-align: center;
}
.webdesign-plans .interesado {
    margin-bottom: 5rem;
}
.webdesign-plans .interesado a {
    margin-top: 1rem;
}
.webdesign-plans .card {
    margin-bottom: 15px;
}
.webdesign-plans .card-header {
    text-align: center;
    font-weight: bold;
}
.webdesign-plans .list-group-item p {
    width: 100%;
}
.webdesign-plans .card-body {
    padding: .75rem 1.25rem;
    text-align: center;
}
@media (max-width: 768px) {
    .webdesign-plans .contenido-interno img {
        margin-top: 2rem;
    }
}
