//****************************
//CABECEA
//****************************
.cabecera {
    color: #fff;
}
.cabecera .fixed-top {
    display: block;
}
//****************************
//CONTENIDO
//****************************
.contenido {
    //height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.contenido .jumbotron {
    background-color: #fff;
}
.contenido .titulo {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
    padding-top: 2rem;
}
.contenido .separador {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
@media screen and (max-width: 576px) {
    .contenido .titulo {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.1;
    }
    .contenido .separador {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
}
//****************************
//PIE DE PAGINA
//****************************
.pie-de-pagina {
    background-color: #292b2c;
    color: #fff;
}
.pie-de-pagina .fixed-bottom {
    display: block;
}
.pie-de-pagina .powered {
    font-size: .8rem;
    font-weight: 300;
}
//****************************
//CONTENIDO
//****************************
.contenido-interno {
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.contenido-interno .telefono::before {
    content: "\f095";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .email::before {
    content: "\f0e0";
    font-family: FontAwesome;
    padding-right: .5rem;
}
.contenido-interno .direccion::before {
    content: "\f2bb";
    font-family: FontAwesome;
    padding-right: .5rem;
}
